#!/usr/bin/make -f

DEB_DH_INSTALL_ARGS=-X .git

TRUSTY_DEPS=python-pip,apparmor-utils,gnupg2,haveged,python,secure-delete,sqlite3,apache2-mpm-worker,libapache2-mod-wsgi,libapache2-mod-xsendfile,redis-server,supervisor,securedrop-keyring,securedrop-config,libpython2.7-dev
XENIAL_DEPS=python-pip,apparmor-utils,gnupg2,haveged,python,secure-delete,sqlite3,apache2,libapache2-mod-wsgi,libapache2-mod-xsendfile,redis-server,supervisor,securedrop-keyring,securedrop-config,libpython2.7-dev


ifeq ($(shell lsb_release -sc), trusty)
    SUBSTVARS = -Vdist:Depends="apache2-mpm-worker"
else
    SUBSTVARS = -Vdist:Depends="apache2"
endif


%:
    dh $@

override_dh_gencontrol:
    dh_gencontrol -- $(SUBSTVARS)
